body {
  color: white;
  background-color: black;
  font-family: 'Sacramento', cursive;
  font-size: 150%;
  margin: 5em 25%;
}

em {
    text-decoration: overline;
    text-decoration-color: red;
    text-decoration-style: wavy;

}
i {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
}
